@media screen and (max-width: 1015px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }
    body {
        background-color: #d6d6d6;
    }
    .discover-container {
        height: 80vh;
    }
}